<form class="form-login">
  <h2 class="form-signin-heading">Pick up a cool username!</h2>
  <br/>
  <div class="form-group {{if validUsername 'has-success'}}">
    {{input class="form-control" type="email" id="usernameInput" value=username required="required"}}
  </div>
  {{#unless validUsername}}
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Username should be at least 5 characters!
    </div>
  {{/unless}}
  {{#if greetMessage}}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{greetMessage}}
    </div>
  {{/if}}
  <button class="btn btn-lg btn-primary btn-block" disabled="{{unless validUsername 'disabled'}}" {{action 'saveUsername'}} type="submit">Sign in</button>
  <br />
</form>

{{outlet}}
