<form class="form-login">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="form-group {{if isValid 'has-success'}}">
    {{input class="form-control" type="email" id="inputEmail" value=emailAddress placeholder="Email address" required="required"}}
  </div>
  <div class="form-group {{if isValid 'has-success'}}">
    {{input class="form-control" type="password" id="inputPassword" value=password placeholder="Password" required="required"}}
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" disabled={{isDisabled}} type="submit">Sign in</button>
  <br />
  Not a member? {{#link-to 'register'}}Register{{/link-to}}.
</form>

{{!-- <div class="form-group has-success">
  <label >Input with success</label>
  <input type="text" class="form-control form-control-success" id="inputSuccess1">
  <div class="form-control-feedback">Success! You've done it.</div>
  <small class="form-text text-muted">Example help text that remains unchanged.</small>
</div> --}}

{{outlet}}
